@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Poppins:wght@400;500;600;700&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
}

.navigation{
    display: flex;
    gap: 84px;
    align-items: center;
}

#reset{
    width: 9rem;
    height: 3rem;
    font-size: 24px;
    font-weight: bold;
    border-radius: 20px;
    background-color: black;
    color: white;
}

#reset:hover{
    background: gray;
    outline: white;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 24px;
    gap: 12px;
}

.gradient{
    height: 64px;
    width: 12px;
    background: linear-gradient(blue,green);
}

.nav{
    background-color: white;
    font-size: 36px;
    font-weight: 900;
}

.main{
    flex: 1;
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 84px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 175px);
    grid-template-rows: repeat(3, 175px);
    gap: 8px;
}

.grid-item{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 112px;
    background-color: white;
    border-radius: 24px;
}

.grid-item:hover{
    outline: 3px solid white;
}

.winner{
    font-size: 64px;
    visibility: hidden;
    letter-spacing: 24px;
}